<footer class="footer">
  <div class="footer-content">
    <div class="country-section">
      <p class="country-title">Perú</p>
      <div class="city-info">
        <div class="city">
          <p class="city-name">Lima</p>
          <p class="address">Calle Gavilanes 261, San Isidro</p>
        </div>
        <div class="city">
          <p class="city-name">Piura</p>
          <p class="address">Av. Country B-11, Urb. Angamos</p>
        </div>
      </div>
    </div>

    <hr class="horizontal-divider" /> <!-- Línea divisoria horizontal -->

    <div class="country-section">
      <p class="country-title">Bolivia</p>
      <div class="city-info">
        <div class="city">
          <p class="city-name">Cochabamba</p>
          <p class="address">Ramón Rivero, esq. 16 de julio. Edif. Alvarez N°516</p>
        </div>
        <div class="city">
          <p class="city-name">La Paz</p>
          <p class="address">Zona Achumani Av. Alexander y calle 13 N°70</p>
        </div>
        <div class="city">
          <p class="city-name">Santa Cruz</p>
          <p class="address">Calle Suárez Arana, N°246</p>
        </div>
      </div>
    </div>
  </div>

  <p class="copyright">© Copyright 2024 Grupo GOIT S.R.L.</p>
</footer>
