.footer {
  background-color: #000000; /* Fondo negro */
  color: #FFFFFF; /* Texto blanco */
  padding: 2rem;
  font-family: 'Articulat', sans-serif;
}

.footer-content {
  display: flex;
  flex-direction: column; /* Alinea Perú y Bolivia en columna */
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  flex: 1;
}

.copyright-section {
  text-align: left;
  margin-right: auto; /* Mueve copyright a la izquierda */
}

.peru-section{
  text-align: left;
  margin-left: 17.5rem;
}

.country-title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.horizontal-divider-bolivia {
  border-top: 1px solid rgba(255, 255, 255, 0.56);
  width: 100%; /* Ancho completo para el separador */
  margin: 0.5rem 0;
}

.horizontal-divider-peru {
  border-top: 1px solid rgba(255, 255, 255, 0.56);
  width: 195%; /* Ancho completo para el separador */
  margin: 0.5rem 0;
}

.city-info {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
}

.city {
  text-align: left;
}

.city-name {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}

.address {
  font-size: 0.9rem;
  margin: 0;
}

/* Ajuste adicional para el espaciado entre secciones */
.bolivia-section {
  margin-top: 1rem; /* Espacio adicional entre Perú y Bolivia */
  margin-left: auto;
}

.copyright {
  font-size: 0.8rem;
  color: #FFFFFF;
  text-align: left;
  margin-top: 1.5rem;
}
