.footer {
  background-color: #000000; /* Fondo negro */
  color: #FFFFFF; /* Texto blanco */
  padding: 2rem;
  font-family: 'Articulat', sans-serif;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

/* Estilo para el logo y posición de íconos de redes sociales */
.logo-goit {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem; /* Espacio entre el logo y los íconos */
  margin-bottom: 1.5rem;
}

.logo {
  width: 7.5rem; /* Tamaño del logo */
  height: auto;
  margin-top: -30px;
}

.social-icons {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.social-icon {
  width: 1.7rem; /* Tamaño de cada ícono social */
  height: 1.7rem;
  margin-top: -20px;
  margin-inline-start: 5.5px;
  fill: #b9e4dc;
}

/* Sección de Copyright */
.copyright-section {
  text-align: center;
  margin-top: -22.7px;
  font-size: 0.75rem;
}

.country-title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.horizontal-divider-bolivia,
.horizontal-divider-peru {
  border-top: 1px solid rgba(255, 255, 255, 0.56);
  width: 100%;
  margin: 0.5rem 0;
}

.city-info {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
}

.city-name {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}

.address {
  font-size: 0.9rem;
  margin: 0;
}

/* Ajuste adicional para el espaciado entre secciones */
.peru-section {
  margin-top: -125px;
  margin-left: 17.5rem;
  margin-bottom: 0px;
}

.city-piura {
  margin-left: 8.5rem;
}

.bolivia-section {
  margin-top: 60px;
  margin-left: auto;
  margin-bottom: 0px;
}

