.llajta-section {
  text-align: left;
  font-family: 'Articulat', sans-serif;
  max-width: 1100px;
  margin-left: 13.7rem;
  margin-top: 4rem;
}

.llajta-section h2 {
  font-weight: 400;
  font-size: 2rem;
  color: #000000;
  margin-bottom: 1rem;
  position: relative;
  margin-left: 1.5rem;
  display: inline-flex; /* Cambiado para incluir el icono al lado del texto */
  align-items: center; /* Alinea verticalmente el texto e ícono */
  gap: 0.5rem; /* Espacio entre el texto y el ícono */
}

.llajta-section h2::before {
  content: "";
  width: 6px;
  height: 100%;
  background-color: #01C38D;
  position: absolute;
  left: -20px;
  top: 0;
}

.llajta-icon {
  width: 30px; /* Tamaño del ícono */
  height: 30px;
  object-fit: contain; /* Asegura que mantenga proporciones */
  margin-left: 1rem;
}

.text-block {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centra verticalmente los textos e imágenes */
  padding: 0.3rem 0; /* Ajusta el espacio vertical */
  border-bottom: 1px solid #01C38D;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 8px; /* Bordes redondeados */
  background-color: #FFFFFF; /* Fondo blanco en estado normal */
}

.text-block:hover {
  background-color: #3E4C8A; /* Fondo azul en hover */
}

.text-item {
  text-align: left;
  margin-left: 3rem; /* Reduce más el espacio entre textos y la imagen */
}

.text-item p {
  font-weight: 400;
  color: #000000; /* Color negro en estado normal */
  font-size: 1rem;
  margin: 0;
  transition: color 0.3s ease;
}

.text-block:hover .text-item p {
  color: #FFFFFF; /* Cambia a blanco en hover */
}

.attraction-image {
  width: 200px; /* Tamaño ligeramente más grande para las imágenes */
  height: auto;
  border-radius: 8px; /* Bordes redondeados para las imágenes */
  object-fit: cover; /* Mantiene las proporciones de la imagen */
  margin-right: 4rem; /* Reduce el espacio entre los textos y la imagen */
  transition: transform 0.3s ease-in-out; /* Suaviza la animación */
}

/* Efecto de zoom en hover */
.attraction-image:hover {
  transform: scale(1.5); /* Agranda la imagen un 10% */
}