.llajta-section {
  text-align: left;
  font-family: 'Articulat', sans-serif;
  max-width: 1100px;
  margin-left: 13.7rem;
  margin-top: 4rem;

}

.llajta-section h2 {
  font-weight: 400;
  font-size: 2rem;
  color: #000000;
  margin-bottom: 1rem;
  position: relative;
  display: inline-block;
  margin-left: 1.5rem;
}

.llajta-section h2::before {
  content: "";
  width: 6px;
  height: 100%;
  background-color: #01C38D;
  position: absolute;
  left: -20px;
  top: 0;
}

.text-block {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
  border-bottom: 1px solid #01C38D;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 8px; /* Bordes redondeados */
  background-color: #FFFFFF; /* Fondo blanco en estado normal */
}

.text-block:hover {
  background-color: #3E4C8A; /* Fondo azul en hover */
}

.text-item {
  text-align: left;
}

.text-item p {
  font-weight: 400;
  color: #000000; /* Color negro en estado normal */
  font-size: 1rem;
  margin: 0;
  transition: color 0.3s ease;
}

.text-block:hover .text-item p {
  color: #FFFFFF; /* Cambia a blanco en hover */
}
